<!doctype html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} Приложение Django {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/script.js' %}" defer></script>
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="/">Главная страница</a></li>
                <li><a href="/about/">Обо мне</a></li>
                <li><a href="{% url 'posts:list' %}">Посты</a></li>
                <li><a href="{% url 'communities:list' %}">Сообщества</a></li>

                {% if user.is_authenticated %}
            
                <li><a href="{% url 'posts:new-post' %}">Новый пост</a></li>
                
                <li><a href="{% url 'communities:new-communities' %}">Новая группа</a></li>


                <form class="logout" action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <li><button title="User Logout">Выйти</button></li>
                </form>
            {% else %}
                <li><a href="{% url 'users:register' %}"></li>
                    Зарегистрироваться
                </a>
                <li><a href="{% url 'users:login' %}"></li>
                    Войти
                </a>
            {% endif %}
            </ul>
        </nav>

        <main>{% block content %} {% endblock %}</main>
    </body>
</html>