* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d;
    color: aliceblue;
    font-size: 24px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

h1, p {
    text-align: center;
   
}


main {
    flex-grow: 1;
    display: grid;
    place-content: center;
    max-width: 1000px;
}



ul {
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    background-color: black;
}

nav li {
    display: flex;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: rgb(151, 68, 65);
    
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: rgb(234, 244, 242);
    font-size: 20px;
    padding: 0 10px;
}

nav a:hover {
    opacity: .85;
    color: rgb(228, 203, 202);
}

li button {
    font-size: 22px;
    line-height: 180%;
    border-radius: 0 0 20px 20px;
    background-color: rgb(151, 68, 65);
    color: white;
    padding-left: 10px;
    padding-right: 10px;

}

section {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.banner {
    
    height: 300px;
    

}

h1 {
    font-size: 40px;
    color: rgb(228, 203, 202);
    padding-bottom: 40px;
}


.form-submit {
    font-size: 22px;
    line-height: 180%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: rgb(151, 68, 65);
    color: white;
    margin-top: 10px;
}